.o-top {
  text-align: center;
}
.o-top span {
  color: #494D55;
  font-weight: 400;
}
.o-top p {
  color: #919191;
  font-size: 16px;
}
.carousel .carousel-indicators li,
.carousel .carousel-indicators.active {
  width: 50px;
  height: 4px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 2px;
}
.carousel .carousel-indicators .active {
  background-color: #fff;
}
.carousel .carousel-inner .carousel-caption .hire-top {
  position: absolute;
  bottom: 160px;
  right: 60px;
  font-size: 40px;
  color: hsla(0, 0%, 100%, 0.9);
  text-align: center;
}
.carousel .carousel-inner .carousel-caption .hire-bottom {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 50px;
  color: hsla(0, 0%, 100%, 0.8);
}
.carousel .carousel-inner .carousel-caption .title-top {
  margin-bottom: 65px;
  font-size: 60px;
}
.carousel .carousel-inner .carousel-caption .title-bottom {
  font-size: 34px;
  margin-top: -43px;
  margin-bottom: 65px;
}
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-caption .hire-top {
    bottom: 11px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .carousel .carousel-inner .carousel-caption .hire-bottom {
    display: none;
  }
  .carousel .carousel-inner .carousel-caption .title-top {
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
  }
  .carousel .carousel-inner .carousel-caption .title-bottom {
    margin-bottom: -20px;
    font-size: 20px;
    text-align: center;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  margin: 0 10px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: orangered;
}
.navbar-nav {
  margin-top: 15px;
}
@media (max-width: 992px) {
  .navbar-default .navbar-collapse {
    background-color: #333;
    text-align: center;
  }
}
.openSource {
  margin-top: 70px;
}
.openSource .items {
  margin-top: 20px;
}
.openSource .items > div {
  height: 179px;
  margin-bottom: 30px;
}
.openSource .items > div a {
  overflow: hidden;
  position: relative;
  display: block;
  height: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s;
}
.openSource .items > div a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  transform: skew(-30deg);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.6), transparent);
}
.openSource .items > div a:hover::before {
  transition: all 0.3s;
  left: 110%;
}
.openSource .items > div a img {
  height: 60px;
}
.openSource .items > div a:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  transform: translateY(-6px);
}
.openSource .items > div:nth-child(1) a {
  background-color: #7ec3ff;
}
.openSource .items > div:nth-child(2) a {
  background-color: #f36c80;
}
.openSource .items > div:nth-child(3) a {
  background-color: #818ea0;
}
.openSource .items > div:nth-child(4) a {
  background-color: #91cf49;
}
.openSource .btn-b {
  text-align: center;
}
.product {
  margin-top: 60px;
}
.product .items {
  margin-top: 20px;
  margin-bottom: 30px;
}
.product .items > div > a {
  overflow: hidden;
  display: block;
  height: 100%;
  border: 1px solid #E4ECF3;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
.product .items > div > a p {
  padding-left: 10px;
  padding-top: 10px;
}
.product .items > div > a p:nth-child(2) {
  margin-bottom: -2px;
}
.product .items > div > a .white {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product .items > div > a > img {
  width: 260.5px;
  height: 165px;
  border-radius: 5px;
  transition: all 0.5s;
}
.product .items > div > a:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  transform: translateY(-6px);
}
.product .items > div > a:hover img {
  transform: scale(1.2, 1);
}
.product .btn-b {
  text-align: center;
}
@media (max-width: 992px) {
  .product .items {
    text-align: center;
  }
  .product .items div {
    margin-bottom: 20px;
  }
}
.blog .o-top {
  margin-top: 50px;
}
.blog .i-panel {
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #e4ecf3;
  border-radius: 4px;
  color: #616161;
}
.blog .i-panel h2 {
  font-size: 16px;
  margin: 0 10px;
  padding: 15px 0;
  border-bottom: 1px solid #f5f5f5;
}
.blog .i-panel h2 a {
  font-weight: bold;
}
.blog .i-panel h2 a:hover {
  text-decoration: none;
  color: #F2B535;
}
.blog .i-panel ul > li {
  margin-left: -10px;
  margin-top: 27px;
  margin-bottom: 23px;
  list-style: none;
  text-decoration: none;
}
.blog .i-panel ul > li a > h4 {
  font-size: 16px;
  color: #616161;
  text-overflow: ellipsis;
}
.blog .i-panel ul > li a > h4:hover {
  color: #F2B535;
  text-decoration: none;
}
.blog .i-panel ul > li a > h4 span {
  margin-right: 30px;
  font-size: 14px;
}
.blog .i-panel .blog-category {
  margin-top: 10px;
  margin-bottom: 12px;
}
.blog .i-panel .blog-category > a {
  overflow: hidden;
  position: relative;
}
.blog .i-panel .blog-category > a .category-icon {
  width: 60px;
  height: 60px;
}
.blog .i-panel .blog-category > a .category-icon img {
  width: 60px;
  height: 60px;
}
.blog .i-panel .blog-category > a .category-name {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 17px;
}
.blog .i-panel .blog-category > a .category-name h2 {
  color: #333;
}
.blog .i-panel .blog-category > a .category-name h2:hover {
  color: #F2B535;
}
.blog .i-panel .blog-category > a .category-name div {
  font-size: 14px;
  color: #c1c1c1;
  margin-top: -15px;
}
.blog .i-panel .blog-category > a .name-2 {
  margin-right: 50px;
}
.blog .i-panel .blog-category > a .name-3 {
  margin-right: 40px;
}
.blog .i-panel .blog-category > a .name-5 {
  margin-right: -20px;
}
.superstar {
  margin-top: 80px;
}
.superstar .items {
  margin-top: 20px;
  text-align: center;
}
.superstar .items:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  transform: translateY(-6px);
}
.superstar .items > .i-head {
  background-color: #f5f8fa;
  border: 1px solid #e4ecf3;
  border-bottom: transparent;
}
.superstar .items > .i-head img {
  margin-top: 22px;
  width: 120px;
  height: 120px;
}
.superstar .items > .i-head h3 {
  padding: 20px 0;
  font-size: 20px;
  color: #494D55;
}
.superstar .items > .desc {
  margin-top: -32px;
  padding: 34px 0;
  line-height: 34px;
  border: 1px solid #e4ecf3;
  border-top: transparent;
  font-size: 14px;
  color: #919191;
}
.superstar .btn-b {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.footer {
  width: 100%;
  background-color: #26282C;
}
.footer .items {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer .items:nth-child(1) {
  color: hsla(0, 0%, 100%, 0.4);
}
.footer .items:nth-child(1) .slogan {
  margin-top: 15px;
  font-size: 16px;
}
.footer .items:nth-child(1) .copyright {
  margin-top: 30px;
}
.footer .items:nth-child(1) .icp {
  display: block;
  margin-top: 20px;
}
.footer .items:nth-child(2) h4,
.footer .items:nth-child(3) h4 {
  font-size: 14px;
  color: #BEBFC0;
}
.footer .items:nth-child(2) a,
.footer .items:nth-child(3) a {
  display: block;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.4);
}
.footer .items:nth-child(2) a:hover,
.footer .items:nth-child(3) a:hover {
  color: #F2B535;
}
.footer .items:nth-child(4) {
  margin-top: 65px;
}
.footer .items:nth-child(4) img {
  width: 120px;
  height: 120px;
}
.footer .items:nth-child(4) img:hover {
  transform: scale(2, 2);
}
.footer .items:nth-child(4) p {
  margin-top: 10px;
  color: hsla(0, 0%, 100%, 0.4);
}
@media (max-width: 992px) {
  .footer .items:nth-child(1) {
    text-align: center;
  }
  .footer .items:nth-child(2),
  .footer .items:nth-child(3) {
    display: none;
  }
  .footer .items:nth-child(4) {
    text-align: center;
  }
}
